WebApplication1/WebApplication1/Service References/MeetingManageService/meetingmanageservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cfldcn.com/meetingwebservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cfldcn.com/meetingwebservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cfldcn.com/meetingwebservices/">
      <s:element name="UrgeMeetingManage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="meetingInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UrgeMeetingManageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UrgeMeetingManageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UrgeMeetingManageSoapIn">
    <wsdl:part name="parameters" element="tns:UrgeMeetingManage" />
  </wsdl:message>
  <wsdl:message name="UrgeMeetingManageSoapOut">
    <wsdl:part name="parameters" element="tns:UrgeMeetingManageResponse" />
  </wsdl:message>
  <wsdl:portType name="meetingManageServiceSoap">
    <wsdl:operation name="UrgeMeetingManage">
      <wsdl:input message="tns:UrgeMeetingManageSoapIn" />
      <wsdl:output message="tns:UrgeMeetingManageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="meetingManageServiceSoap" type="tns:meetingManageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UrgeMeetingManage">
      <soap:operation soapAction="http://cfldcn.com/meetingwebservices/UrgeMeetingManage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="meetingManageServiceSoap12" type="tns:meetingManageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UrgeMeetingManage">
      <soap12:operation soapAction="http://cfldcn.com/meetingwebservices/UrgeMeetingManage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="meetingManageService">
    <wsdl:port name="meetingManageServiceSoap" binding="tns:meetingManageServiceSoap">
      <soap:address location="http://tmeeting.cfldcn.com/webservice/duban/meetingmanageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="meetingManageServiceSoap12" binding="tns:meetingManageServiceSoap12">
      <soap12:address location="http://tmeeting.cfldcn.com/webservice/duban/meetingmanageservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>